- content_for :stylesheets do
  = stylesheet_link_tag 'topics/show'

%div.container#topic-container
  %div.row
    %div.col-md-11.col-md-offset-1
      %ol.breadcrumb
        %li 
          %a{:href=>"#"} Math
        %li 
          %a{:href=>"#"} Algebra
        %li.active Factoring
      %div#topic-wrapper
        %div#topic-title
          Factoring
        %div#topics-description
          This is factoring and it is great. Seung should do all the work.
          This is factoring and it is great. Seung should do all the work.
          This is factoring and it is great. Seung should do all the work.
          This is factoring and it is great. Seung should do all the work.
          v
          This is factoring and it is great. Seung should do all the work.
          This is factoring and it is great. Seung should do all the work.
          This is factoring and it is great. Seung should do all the work.
          This is factoring and it is great. Seung should do all the work.
          This is factoring and it is great. Seung should do all the work.
          This is factoring and it is great. Seung should do all the work.
          v
          This is factoring and it is great. Seung should do all the work.
          This is factoring and it is great. Seung should do all the work.
        %div#resources-container.well
          %div#resources-title
            Resources
          %div#resources-block
            %div.resource
              %div.title 
                %a{:href=>"#"} Factoring and FOIL
            %div.resource
              %div.title 
                %a{:href=>"#"} Factoring and FOIL
            %div.resource
              %div.title 
                %a{:href=>"#"} Factoring and FOIL
