- content_for :stylesheets do
  =stylesheet_link_tag 'topics/show'

%div.container#topic-container
  %div.row
    %div.col-md-10.col-md-offset-1
      %ol.breadcrumb
        %li 
          %a{:href=>subjects_path()}
            =@topic.field.subject.title
        %li 
          %a{:href=>field_path(@topic.field)}
            =@topic.field.title
        %li.active 
          =@topic.title
      %div.content-wrapper
        %div#topic-title
          =@topic.title
        %div#topics-description
          =@topic.description
        %div#resources-container.well
          %div#resources-title
            Resources
          %div#resources-block
            - @topic.resources.each do |resource|
              %div.resource
                %div.title 
                  %a{:href=>resource_path(resource)}
                    = resource.title
                  \:
                  = getDescriptionSummary(resource.description)
            - if @topic.resources.empty?
              <i>No resources currently exist</i>
