#fields-container {
  margin-top: 25px;
  .content-wrapper {
    #field-header {
      .title {
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #2e69a1;
        display: inline-block;
      }
      .pull-right {
        .cell {
          display: inline-block;
          vertical-align: middle;
        }
      }
    } 
  }
  #topics-block {
    margin-top: 20px;
    .panel{
      margin-bottom: 10px;
      .panel-title a {
        color: #428BCA;
        &:hover{
          color: #005580;
        }
      }
      .panel-body {
        .no-resources {
          font-style: italic;
        }
      }
    }
  }
}
