#subjects-container {
  margin-top: 25px;
  .subject { 
    .subject-title {
      font-size: 30px;
      margin-bottom: 15px;
      font-weight: 300;
      font-family: 'Open Sans';
    }
    
    .field-block {
      padding-left: 25px;
      .field {
        margin-right: 25px;
        margin-bottom: 10px;
        display: inline-block;
        .btn {
          font-weight: 300;
          font-size: 20px;
          min-width: 120px;
        }
      }
      margin-bottom: 20px;
    }
  }
}