#resources-container {
  margin-top: 25px;
  #search-row {
    margin-bottom: 25px;
  }
  #sort-box {
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: white;
    padding: 10px 0px;
    #header {
      font-size: 18px;
      font-weight: bold;
      padding: 0 15px;
      margin-bottom: 5px;
    }
    .option {
      padding: 0 15px;
      font-size: 16px;
      color: #428BCA;
      cursor: pointer;
      &.selected {
        background-color: #e1eef8;
      }
    }
  }
  #resources {
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 5px;
    .resource {
      padding: 10px 20px;
      border-bottom: 1px solid #CCC;
      &:hover {
        background-color: #eaeaea;
      }
      &:last-child {
        border-bottom: none;
      }
      .title {
        font-size: 18px;
      }
      .date, .author {
        font-size: 12px;
        color: #989898;
      }
      .summary {
        
      }
    }
  } 
}
