#form-container {
  padding-top: 25px;
  .content-wrapper {
    .alert {
      text-align: center;
    }
    .container-header {
      font-size: 30px;
      color: #0065AF;
      font-family: Gudea, sans-serif, Arial, Verdana, Helvetica;
      font-weight: bold;
      padding-bottom: 15px;
      letter-spacing: -1px;
    }
    .chosen-container {
      min-width: 50%;
    }
    input.form-control, textarea.form-control {
      width: 50%;
      min-width: 400px;
    }
    .descriptor {
      font-weight: bold;
      margin-bottom: 0px;
    }
    .sub-descriptor {
      font-weight: 300;
    }
    #resource-type-group {
      margin-top: 10px;
      margin-bottom: 10px;

      .btn {
        width: 75px;
      }
    }
    #link-group {
      display: none;
    }
    #file-group {
      display: none;

      input {
        margin-top: 10px;
      }
    }
    .submit-buttons {
      display: none;
      margin-top: 20px;
    }
  }
} 
