#form-container {
  padding-top: 25px;
  .content-wrapper {
    .alert {
      text-align: center;
    }
    .container-header {
      font-size: 30px;
      color: #0065AF;
      font-family: Gudea, sans-serif, Arial, Verdana, Helvetica;
      font-weight: bold;
      padding-bottom: 15px;
      letter-spacing: -1px;
    }
    input.form-control, textarea.form-control {
      width: 50%;
      min-width: 400px;
    }
  }
} 
