- content_for :stylesheets do
  = stylesheet_link_tag 'fields/show'

- content_for :javascripts do
  = javascript_include_tag "searchbar"

%style#search_style

%div.container#fields-container
  %div.row
    %div.col-md-10.col-md-offset-1
      %ol.breadcrumb
        %li 
          %a{:href=>subjects_path} 
            =@field.subject.title
        %li.active 
          =@field.title
      %div.content-wrapper
        %div#field-header
          %div.title
            =@field.title
          %div.pull-right
            %input{:id=>"search", :class=>"form-control", :type=>"text", :placeholder=>"Search"}
            %span.glyphicon.glyphicon-search

        %div#topics-block
          - @field.topics.each do |topic|
            %div.panel.panel-default.searchable{:data => {:index => "#{topic.searchable_string}"}}
              %div.panel-heading
                %h3.panel-title 
                  %a{:href=> topic_path(topic)}
                    = topic.title
              %div.panel-body
                - topic.resources.each do |resource|
                  - if resource != topic.resources[-1]
                    =resource.title + ","
                  - else
                    =resource.title
                - if topic.resources.empty?
                  %span.no-resources No resources available.

          
